.Header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10rem;
    display: flex;
}

h1 {
    color:white;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 36px;
    padding: 10px;
    background-color: #21272f;
    border-radius: 15px;
    box-shadow: 3px -1px white;
    border: 3px solid white;
}

.Header .btn-header {
    width: 100px;
    height: 40px;
    margin-right: 15px;
    border: inherit;
    background-color: inherit;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.Header .btn-header:hover {
    color: #1dd78a;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color:#1dd78a;
}
