*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  background-color: black;
}



@media only screen and (min-width:900px){
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    background-color: transparent;
  }
  .App {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-repeat: repeat;
    background-size: cover;
    background-image: url(img/fondo-de-pantalla.jpg);
  }
}
